/* valores genericos para los copos */

.copo {

    background-color: black;
    color:#fff;
    position:relative;
    z-index:0;
}

/* definimos los 4 tipos de copos */

.copo1 {
    height:1px;
    width:1px;
}

.copo2 {
    height:2px;
    width:2px;
}

.copo3 {
    height:3px;
    width:3px;
    border-radius:2px;
}

.copo4 {
    height:4px;
    width:4px;
    border-radius:3px;
}